# Библиотека Pandas

## Data Frame

In [1]:
import pandas as pd

In [2]:
frame=pd.DataFrame({'numbers':range(10),'chars':['a']*10})

In [3]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [4]:
frame=pd.read_csv('dataset.tsv', header=0, sep='\t')

In [5]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [6]:
frame.columns

Index(['Name', 'Birth', 'City', 'Position'], dtype='object')

In [7]:
frame.shape

(6, 4)

In [8]:
new_line={'Name':'Sergii','Birth':'23.03.2004','City':'Kharkiv'}

In [9]:
frame2=frame.append(new_line, ignore_index=True)

In [10]:
frame2

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6           Sergii  23.03.2004    Kharkiv       NaN

In [11]:
frame2['IsStudent']=[True]*5 + [False]*2

In [12]:
frame2

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      True
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      True
2       Белов М.М.  13.02.1980     Ростов  менеджер      True
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      True
4      Рыбина Е.П.  19.11.1985     Москва   инженер      True
5     Костров С.О.  31.05.1985     Москва    стажер     False
6           Sergii  23.03.2004    Kharkiv       NaN     False

In [13]:
frame2.drop([5,6],axis=0, inplace=True)

In [14]:
frame2

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      True
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      True
2       Белов М.М.  13.02.1980     Ростов  менеджер      True
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      True
4      Рыбина Е.П.  19.11.1985     Москва   инженер      True

In [15]:
frame2.drop('IsStudent',axis=1, inplace=True)

In [16]:
frame2

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер

In [17]:
frame2.to_csv('updatedata.csv', sep=',', header=True, index=None)

In [18]:
frame=pd.read_csv('updatedata.csv', header=0, sep=',')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc8 in position 0: invalid continuation byte